<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysToolPocketMapper">

    <resultMap type="SysToolPocket" id="SysToolPocketResult">
        <result property="toolId" column="toolId"/>
        <result property="description" column="description"/>
        <!--        <result property="parameter" column="parameter" javaType="java.util.List"-->
        <!--                typeHandler="com.ruoyi.system.domain.SysToolPocket$ParameterTypeHandler"/>-->
        <result property="parameter" column="parameter" jdbcType="JAVA_OBJECT"
                javaType="com.ruoyi.system.domain.SysToolPocket$SysParameter"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <sql id="selectSysToolPocketVo">
        select toolId, description, parameter
        from sys_tool_pocket
    </sql>

    <select id="selectSysToolPocketList" parameterType="SysToolPocket" resultMap="SysToolPocketResult">
        <include refid="selectSysToolPocketVo"/>
        <where>
            <if test="toolId != null  and toolId != ''">and toolId like concat('%', #{toolId}, '%')</if>
            <if test="description != null  and description != ''">and description like concat('%', #{description},
                '%')
            </if>
            <if test="parameter != null  and parameter != ''">and parameter = #{parameter}</if>
        </where>
    </select>

    <select id="selectSysToolPocketByToolPocketId" parameterType="String" resultMap="SysToolPocketResult">
        <include refid="selectSysToolPocketVo"/>
        where toolId = #{toolId}
    </select>

    <select id="getParameter" parameterType="string" resultMap="SysToolPocketResult">
        <include refid="selectSysToolPocketVo"/>
        where toolId = #{toolId}
    </select>

    <insert id="insertSysToolPocket" parameterType="sysToolPocketToSql">
        insert into sys_tool_pocket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="toolId != null and toolId != ''">toolId,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="parameter != null and parameter != ''">parameter,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="toolId != null">#{toolId},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="parameter != null and parameter != ''">'{\"FeedRate\": \"330\", \"PeckDepth\": \"1\", \"SpindelSpeed\": \"3424\"}',
            </if>
        </trim>
    </insert>

    <update id="updateSysToolPocket" parameterType="sysToolPocketToSql">
        update sys_tool_pocket
        <trim prefix="SET" suffixOverrides=",">
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="parameter != null and parameter != ''">parameter = #{parameter},</if>
        </trim>
        where toolId = #{toolId}
    </update>

    <delete id="deleteSysToolPocketByToolPocketId" parameterType="Long">
        delete
        from sys_tool_pocket
        where toolId = #{toolId}
    </delete>

    <delete id="deleteSysToolPocketByToolPocketIds" parameterType="String">
        delete from sys_tool_pocket where toolId in
        <foreach item="toolId" collection="array" open="(" separator="," close=")">
            #{toolId}
        </foreach>
    </delete>
</mapper>